<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mybatis会根据这个xml文件动态地生成实现类-->
<mapper namespace="com.learn.mapper.UserMapper">
<!--    指定接口类在哪-->
    <!--resultType要写自己的类名-->
    <select id="getAllUsers" resultType="com.learn.pojo.User">
        select * from mybatis.User
    </select>

    <select id="getUserById" resultType="com.learn.pojo.User">
        select * from mybatis.User where id = #{id}
    </select>

    <insert id="insertUser">
        insert into mybatis.User values (null,#{name},#{password})
    </insert>

    <update id="updateUser">
        update mybatis.User set password = #{password} where id = #{id};
    </update>

    <delete id="deleteUserById">
        delete from mybatis.User where id = #{id}
    </delete>
</mapper>